.pics {
    min-width: 85%;
}

.carousel {
    display: flex;
}

.container-carousel {
    scroll-behavior: smooth;
}

@media only screen and (min-width: 500px) {
    .pics {
        min-width: 70%;
    }
}

@media only screen and (min-width: 650px) {
    .pics {
        min-width: 40%;
    }
}

@media only screen and (min-width: 900px) {
    .pics {
        min-width: 28%;
    }
}

@media only screen and (min-width: 1250px) {
    .pics {
        min-width: 18%;
    }
}